@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Poppins:wght@200;300;400&display=swap');

// font
$fontMain: 'Comfortaa', cursive;
$fontSec: 'Poppins', sans-serif;
$fontCursive: 'Cedarville Cursive', cursive;

// colors
$darkMain: #20205b; //#591da9;
$mediumMain: #4343a4; // #8b63da;
$lightMain: #6666f7; // #c89feb;

$white: rgb(255, 250, 250);
$gray: #e1e1e1;
$grayer: #888;

$dark: #1d0000;


// shadow
$textShadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
$boxShadow: 0 0.2rem 1.3rem rgba(14, 21, 37, 0.5);

// display
%display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

