@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Poppins:wght@200;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  list-style: none;
}

header {
  border: 3px dotted yellowgreen;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.user-icon {
  position: absolute;
  margin: 20px;
  top: 0;
  left: 0;
  font-size: 3.5vmin;
  padding: 3px;
  z-index: 9999;
  cursor: pointer;
}

.settings-container {
  width: min(55vw, 250px);
  height: 300px;
  margin: 0.8rem 3.5rem;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: snow;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.settings-container.active {
  visibility: visible;
  opacity: 1;
}

.name-container {
  padding-bottom: 1rem;
  border-bottom: 2px solid gray;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name-container h2 {
  color: blueviolet;  
  font-size: 3.2vmin;
  font-weight: 300;
  letter-spacing: 0.6rem;
  text-transform: lowercase;
  text-shadow: none;
}

.name-container .input-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-name input {
  cursor: initial;
  color: darkgray;
  font-size: 2vmin;
  font-weight: 700;
  word-break: break-all;
  letter-spacing: 0.3rem;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  text-align: center;
  text-shadow: none;
}

.sync-namebtn {
  font-size: 2vmin;
  font-weight: 700;
  color: #a0a0a0;
  cursor: pointer;
  text-shadow: none;
} 

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0.4rem 0.5rem; 
}

.settings form, .edit-focus, .add-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.settings input, .settings button {
  border: 2px solid gray;
  outline: none;
  background: transparent;
  text-shadow: none;
  color: darkgray;
  text-shadow: none;
  font-size: 0.75rem;
  padding: 0.35rem;
}

input {
  border: none;
  border-bottom: 2px solid gray;
  width: 100%;
  height: 1.8rem;
  
}

.editFocus-btn {
  width: 100%;
  background: blueviolet;
  color: white;
  border-radius: 0.5rem;
}

.editFocus-btn:hover{
  opacity: 0.7;
}

.settings .addQuote-btn {
  cursor: pointer;
  width: 100%;
  height: 1.65rem;
  border-radius: 0.5rem;
  
}


/* main focus section */

.focus{
  z-index: 99999;
  width: 100%;
  height: 100vh;
  border: 5px dotted violet;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.focus-container {
  padding: 5px;
  font-size: 2.4vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.input-focus {
  /* border: 2px dotted purple; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  border: 1px solid green;
  width: 90%;
  height: 3rem;
  max-width: 650px;
  /* outline: none;
  border: none;   */
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px solid $white;
  background: transparent;
  transition: all 0.3s;
  text-align: center;
}

button {
  cursor: pointer;
  font-size: 3.2vmin;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  opacity: 0.75;
}

.display-focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.display-focus h4 {
  display: none;
}