@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Poppins:wght@200;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  color: snow;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-container {
  /* border: 5px dotted pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(4.5rem);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.username {
  height: 2rem;
  width: 300px;
  outline: none;
  border: none;  
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  background: transparent;
  transition: all 0.3s;
  text-align: center;
}

.username:focus { 
  border-color: $white;
}

.username input placeholder {
  color: snow;
}

.submit-btn {
  height: 2rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;  
}

.submit-btn i {
  font-size: 2rem;
  text-shadow: none;
}

h2 {
  font-size: 11rem;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
  text-align: center;
  letter-spacing: 1.2rem;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}