@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  list-style: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(145deg, #c89feb, #8b63da, #591da9, #051960);
  padding: 10px;
}

.to-do-app {
  width: 100%;
  max-width: 540px;
  background: snow;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.to-do-app h2 {
  color: #002765;
  margin-bottom: 1.2rem;
}

.add-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.add-row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.add-row button {
  position: relative;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  background: #591da9;
  color: #fff;
  font-size: 1rem;
  border-radius: 40px;
  cursor: pointer;
}

ul li {
  border: 1px solid red;
  font-size: 1rem;
  color: #002765;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  border: 1px solid red;
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 6px;
  left: 8px;
}

ul li#checked {
  color: #555;
  text-decoration: line-through;
}

ul li#checked::before {
  background-image: url(images/checked.png);
}